[user]
	name = SZABO Gergely
	email = szg@subogero.com
[color]
	ui = auto
[color "status"]
	changed = red bold
	untracked = red bold
	unmerged = red bold
	nobranch = red bold
[color "diff"]
	old = red bold
[alias]
	lg = log --oneline --graph --decorate --all
	lgt = log --oneline --graph --decorate
	lgv = log --graph --decorate --all
	fuck = reset --hard
	st = status
	difi = diff --cached HEAD
	ff = !sh -c 'git branch -f $1 origin/$1' --
	fall = !sh -c 'git fetch --all && git branch -r | sed /HEAD/d | grep /_ | xargs git branch -dr' --
